# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment files
.env

# VS Code settings
.vscode/

# Flask instance folders
instance/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db